html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}
/*
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
*/
nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

@media only screen and (max-width:1920px){


    body{
    background-color:rgb(0,0,0);

    max-width:1920px;
    height:1650px;
    }
    #spaceImage{
        display:none;
    }
    #spaceImageTwo{
    position:fixed;
    margin-top: auto;

    max-width: 1920px;
    height: 1080px;


    }
    #textOne{
    position: absolute;
    float: left;
    margin-left: 680px;
    margin-top: 500px;
    font-size:80px;
    color: rgb(255,255,255);
    font-family:'Kanit', sans-serif;


    }
    #panelNew{
    position:absolute;
    background-color: rgb(255,255,255);
    width:100%;
    height:600px;
    float: left;
    margin-top: 1080px;
    }

    #textTwo{
    position:absolute;
    float:left;
    margin-left: 650px;
    margin-top:100px;
    color: rgb(0,0,0);
    font-size:80px;
    font-family:'Kanit', sans-serif;
    }

    #textThree{
    position: absolute;
    display:inline;
    margin-left: 515px;
    margin-top: 200px;
    font-size: 35px;
    }


    #textFour{

        position: absolute;
        display:inline;
        margin-left: 700px;
        margin-top: 350px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }


    #textFive{

        position: absolute;
        display:inline;
        margin-left: 1000px;
        margin-top: 350px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSix{

        position: absolute;
        display:inline;
        margin-left: 1000px;
        margin-top: 500px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSeven{

        position: absolute;
        display:inline;
        margin-left: 700px;
        margin-top: 500px;
        padding-top:10px;
        text-align: center;
        color:rgb(0, 0, 0);
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }



    @import "compass/css3";

    .menu{
      cursor: pointer;
      margin-left: 1860px;
      margin-top:2px;
      padding-left: 1.25em;
      position: fixed;
      width: 10px;
      height: 5px;
    }

    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 7px solid white;
      width: 50px;
      transition: 0.55s;
    }

    .menu-top {
      top: 0;
    }

    .menu-middle {
      top: 9px;
    }

    .menu-bottom {
      top: 18px;
    }

    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }

    .menu-middle-click {
      opacity: 0;
    }

    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }

    #panelOne{
    margin-top:5px;
    display: none;
    position:fixed;
    width: 1920px;
    height:50px;
    background-color:none;
    }

    ul{
    float:left;
    position:fixed;
    display:inline;
    padding-bottom:9px;
    margin-left: 1695px;
    margin-top:2px;
    width:1280px;
    height:20px;
    background:rgb(0,0,0,50);
    text-align:right;
    font-family: 'Lato', sans-serif;
    color:rgb(255,255,255);
    text-decoration:none;
    border:none;
    border-radius:25px;
    }

    li{
    float:left;
    margin-left:2px;
    margin-top:2px;
    padding:5px;
    text-align:right;
    }

    a{
    float:left;
    padding-top:0px;
    margin-left:2px;
    text-align:right;
    color:rgb(255,255,255);
    text-decoration:none;
    }

    #scrollDown{
        position:fixed;
        margin-left:960px;
        margin-top: 1040px;
        display:block;
        text-align:center;
        font-size:1px;
        z-index:100;
        text-decoration:none;
        text-shadow:0;
        width:  12px;
        height:12px;
        border-bottom:2px solid rgb(255,255,255);
        border-right: 2px solid rgb(255,255,255);
        z-index: 9;

        rotate(45deg);
          -moz-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 4s ease-in-out infinite;
            -moz-animation:    fade_move_down 4s ease-in-out infinite;
            animation:         fade_move_down 4s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
          0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @-moz-keyframes fade_move_down {
          0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @keyframes fade_move_down {
          0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }








}
@media only screen and (max-width:1350px){

body{
background-color:rgb(0,0,0);

max-width:1350px;
height:1500px;
}
#spaceImage{
position:fixed;
margin-top: auto;

max-width: 100%;
height: auto;


}
#textOne{
position: absolute;
float: left;
margin-left: 370px;
margin-top: 300px;
font-size:80px;
color: rgb(255,255,255);
font-family:'Kanit', sans-serif;


}
#panelNew{
position:absolute;
background-color: rgb(255,255,255);
width:100%;
height:605px;
float: left;
margin-top: 1000px;
}

#textTwo{
position:absolute;
float:left;
margin-left: 300px;
margin-top:100px;
color: rgb(0,0,0);
font-size:80px;
font-family:'Kanit', sans-serif;
}

#textThree{
position: absolute;
display:inline;
margin-left: 185px;
margin-top: 200px;
font-size: 35px;
}


#textFour{

    position: absolute;
    display:inline;
    margin-left: 400px;
    margin-top: 350px;
    padding-top:10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lato';
    width:200px;
    height:50px;
    border: 3px solid;
    border-color: rgb(0,0, 0);
    border-radius:25px;
}


#textFive{

    position: absolute;
    display:inline;
    margin-left: 700px;
    margin-top: 350px;
    padding-top:10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lato';
    width:200px;
    height:50px;
    border: 3px solid;
    border-color: rgb(0,0, 0);
    border-radius:25px;
}

#textSix{

    position: absolute;
    display:inline;
    margin-left: 700px;
    margin-top: 500px;
    padding-top:10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lato';
    width:200px;
    height:50px;
    border: 3px solid;
    border-color: rgb(0,0, 0);
    border-radius:25px;
}

#textSeven{

    position: absolute;
    display:inline;
    margin-left: 400px;
    margin-top: 500px;
    padding-top:10px;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Lato';
    width:200px;
    height:50px;
    border: 3px solid;
    border-color: rgb(0,0, 0);
    border-radius:25px;
}



@import "compass/css3";

.menu{
  cursor: pointer;
  margin-left: 1218px;
  margin-top:6px;
  padding-left: 1.25em;
  position: fixed;
  width: 10px;
  height: 5px;
}

.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid white;
  width: 50px;
  transition: 0.55s;
}

.menu-top {
  top: 0;
}

.menu-middle {
  top: 9px;
}

.menu-bottom {
  top: 18px;
}

.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}

.menu-middle-click {
  opacity: 0;
}

.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

#panelOne{
margin-top:5px;
display: none;
position:fixed;
width: 1280px;
height:50px;
background-color:none;
}

ul{
float:left;
position:fixed;
display:inline;
padding-bottom:9px;
margin-left: 1052px;
margin-top:2px;
width:1280px;
height:20px;
background:rgb(0,0,0,50);
text-align:right;
font-family: 'Lato', sans-serif;
color:rgb(255,255,255);
text-decoration:none;
border:none;
border-radius:25px;
}

li{
float:left;
margin-left:2px;
margin-top:2px;
padding:5px;
text-align:right;
}

a{
float:left;
padding-top:0px;
margin-left:2px;
text-align:right;
color:rgb(255,255,255);
text-decoration:none;
}

#scrollDown{
    position:fixed;
    margin-left:660px;
    margin-top: 620px;
    display:block;
    text-align:center;
    font-size:1px;
    z-index:100;
    text-decoration:none;
    text-shadow:0;
    width:  12px;
    height:12px;
    border-bottom:2px solid rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    z-index: 9;

    rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
        -webkit-animation: fade_move_down 4s ease-in-out infinite;
        -moz-animation:    fade_move_down 4s ease-in-out infinite;
        animation:         fade_move_down 4s ease-in-out infinite;
    }


    /*animated scroll arrow animation*/
    @-webkit-keyframes fade_move_down {
      0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
    @-moz-keyframes fade_move_down {
      0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
    @keyframes fade_move_down {
      0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }








}
@media only screen and (max-width:1000px){

    body{
    background-color:rgb(0,0,0);

    max-width:1000px;
    height:1500px;
    }
    #spaceImage{
    position:fixed;
    margin-top: auto;

    max-width: 1000px;
    height: auto;


    }
    #textOne{
    position: absolute;
    float: left;
    margin-left: 230px;
    margin-top: 300px;
    font-size:80px;
    color: rgb(255,255,255);
    font-family:'Kanit', sans-serif;


    }
    #panelNew{
    position:absolute;
    background-color: rgb(255,255,255);
    width:100%;
    height:600px;
    float: left;
    margin-top: 1000px;
    }

    #textTwo{
    position:absolute;
    float:left;
    margin-left: 180px;
    margin-top:100px;
    color: rgb(0,0,0);
    font-size:70px;
    font-family:'Kanit', sans-serif;
    }

    #textThree{
    position: absolute;
    display:inline;
    margin-left: 95px;
    margin-top: 200px;
    font-size: 30px;
    }


    #textFour{

        position: absolute;
        display:inline;
        margin-left: 240px;
        margin-top: 350px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }


    #textFive{

        position: absolute;
        display:inline;
        margin-left: 540px;
        margin-top: 350px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSix{

        position: absolute;
        display:inline;
        margin-left: 540px;
        margin-top: 500px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSeven{

        position: absolute;
        display:inline;
        margin-left: 240px;
        margin-top: 500px;
        padding-top:10px;
        text-align: center;
        color:rgb(0, 0, 0);
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }



    @import "compass/css3";

    .menu{
      cursor: pointer;
      margin-left: 930px;
      margin-top:2px;
      padding-left: 1.25em;
      position: fixed;
      width: 10px;
      height: 5px;
    }

    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 7px solid white;
      width: 50px;
      transition: 0.55s;
    }

    .menu-top {
      top: 0;
    }

    .menu-middle {
      top: 9px;
    }

    .menu-bottom {
      top: 18px;
    }

    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }

    .menu-middle-click {
      opacity: 0;
    }

    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }

    #panelOne{
    margin-top:5px;
    display: none;
    position:fixed;
    width: 1280px;
    height:50px;
    background-color:none;
    }

    ul{
    float:left;
    position:fixed;
    display:inline;
    padding-bottom:9px;
    margin-left: 760px;
    margin-top:2px;
    width:1280px;
    height:20px;
    background:rgb(0,0,0,50);
    text-align:right;
    font-family: 'Lato', sans-serif;
    color:rgb(255,255,255);
    text-decoration:none;
    border:none;
    border-radius:25px;
    }

    li{
    float:left;
    margin-left:2px;
    margin-top:2px;
    padding:5px;
    text-align:right;
    }

    a{
    float:left;
    padding-top:0px;
    margin-left:2px;
    text-align:right;
    color:rgb(255,255,255);
    text-decoration:none;
    }

    #scrollDown{
        position:fixed;
        margin-left:510px;
        margin-top: 620px;
        display:block;
        text-align:center;
        font-size:1px;
        z-index:100;
        text-decoration:none;
        text-shadow:0;
        width:  12px;
        height:12px;
        border-bottom:2px solid rgb(255,255,255);
        border-right: 2px solid rgb(255,255,255);
        z-index: 9;

        rotate(45deg);
          -moz-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 4s ease-in-out infinite;
            -moz-animation:    fade_move_down 4s ease-in-out infinite;
            animation:         fade_move_down 4s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
          0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @-moz-keyframes fade_move_down {
          0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @keyframes fade_move_down {
          0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }




}
@media only screen and (max-width:736px){
    body{
    background-color:rgb(0,0,0);

    max-width:736px;
    height:1500px;
    }
    #spaceImage{
    position:fixed;
    margin-top: auto;

    max-width: 736px;
    height: auto;


    }
    #textOne{
    position: absolute;
    float: left;
    margin-left: 170px;
    margin-top: 300px;
    font-size:60px;
    color: rgb(255,255,255);
    font-family:'Kanit', sans-serif;


    }
    #panelNew{
    position:absolute;
    background-color: rgb(255,255,255);
    width:100%;
    height:600px;
    float: left;
    margin-top: 1000px;
    }

    #textTwo{
    position:absolute;
    float:left;
    margin-left: 160px;
    margin-top:100px;
    color: rgb(0,0,0);
    font-size:50px;
    font-family:'Kanit', sans-serif;
    }

    #textThree{
    position: absolute;
    display:inline;
    margin-left: 100px;
    margin-top: 170px;
    font-size: 20px;
    }


    #textFour{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 300px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }


    #textFive{

        position: absolute;
        display:inline;
        margin-left: 400px;
        margin-top: 300px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSix{

        position: absolute;
        display:inline;
        margin-left: 400px;
        margin-top: 450px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }

    #textSeven{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 450px;
        padding-top:10px;
        text-align: center;
        color:rgb(0, 0, 0);
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:25px;
    }



    @import "compass/css3";

    .menu{
      cursor: pointer;
      margin-left: 670px;
      margin-top:2px;
      padding-left: 1.25em;
      position: fixed;
      width: 10px;
      height: 5px;
    }

    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 7px solid white;
      width: 50px;
      transition: 0.55s;
    }

    .menu-top {
      top: 0;
    }

    .menu-middle {
      top: 9px;
    }

    .menu-bottom {
      top: 18px;
    }

    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }

    .menu-middle-click {
      opacity: 0;
    }

    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }

    #panelOne{
    margin-top:5px;
    display: none;
    position:fixed;
    width: 1280px;
    height:50px;
    background-color:none;
    }

    ul{
    float:left;
    position:fixed;
    display:inline;
    padding-bottom:9px;
    margin-left: 500px;
    margin-top:2px;
    width:1280px;
    height:20px;
    background:rgb(0,0,0,50);
    text-align:right;
    font-family: 'Lato', sans-serif;
    color:rgb(255,255,255);
    text-decoration:none;
    border:none;
    border-radius:25px;
    }

    li{
    float:left;
    margin-left:2px;
    margin-top:2px;
    padding:5px;
    text-align:right;
    }

    a{
    float:left;
    padding-top:0px;
    margin-left:2px;
    text-align:right;
    color:rgb(255,255,255);
    text-decoration:none;
    }

    #scrollDown{
        position:fixed;
        margin-left:380px;
        margin-top: 620px;
        display:block;
        text-align:center;
        font-size:1px;
        z-index:100;
        text-decoration:none;
        text-shadow:0;
        width:  12px;
        height:12px;
        border-bottom:2px solid rgb(255,255,255);
        border-right: 2px solid rgb(255,255,255);
        z-index: 9;

        rotate(45deg);
          -moz-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 4s ease-in-out infinite;
            -moz-animation:    fade_move_down 4s ease-in-out infinite;
            animation:         fade_move_down 4s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
          0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @-moz-keyframes fade_move_down {
          0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @keyframes fade_move_down {
          0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }




}
@media only screen and (max-width:400px){
    body{
    background-color:rgb(0,0,0);
    max-width:400px;
    height:1500px;
    }
    #spaceImage{
    position:fixed;
    margin-top: auto;
    max-width: 400px;
    height: auto;
    }
    #textOne{
    position: absolute;
    float: left;
    margin-left: 55px;
    margin-top: 300px;
    font-size:40px;
    color: rgb(255,255,255);
    font-family:'Kanit', sans-serif;


    }
    #panelNew{
    position:absolute;
    background-color: rgb(255,255,255);
    width:100%;
    height:600px;
    float: left;
    margin-top: 1000px;
    }

    #textTwo{
    position:absolute;
    float:left;
    margin-left: 55px;
    margin-top:70px;
    color: rgb(0,0,0);
    font-size:35px;
    font-family:'Kanit', sans-serif;
    }

    #textThree{
    position: absolute;
    display:inline;
    margin-left: 70px;
    margin-top: 130px;
    font-size: 20px;
    }


    #textFour{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 200px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:20px;
    }


    #textFive{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 300px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:20px;
    }

    #textSix{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 395px;
        padding-top:10px;
        text-align: center;
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:20px;
    }

    #textSeven{

        position: absolute;
        display:inline;
        margin-left: 100px;
        margin-top: 490px;
        padding-top:10px;
        text-align: center;
        color:rgb(0, 0, 0);
        font-size: 35px;
        font-family: 'Lato';
        width:200px;
        height:50px;
        border: 3px solid;
        border-color: rgb(0,0, 0);
        border-radius:20px;
    }



    @import "compass/css3";

    .menu{
      cursor: pointer;
      margin-left: 340px;
      margin-top:2px;
      padding-left: 1.25em;
      position: fixed;
      width: 10px;
      height: 5px;
    }

    .menu-global {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 7px solid white;
      width: 50px;
      transition: 0.55s;
    }

    .menu-top {
      top: 0;
    }

    .menu-middle {
      top: 9px;
    }

    .menu-bottom {
      top: 18px;
    }

    .menu-top-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(50deg);
      transition: 0.55s 0.5s;
    }

    .menu-middle-click {
      opacity: 0;
    }

    .menu-bottom-click {
      backface-visibility: hidden;
      top: 15px;
      transform: rotate(-410deg);
      transition: 0.55s 0.5s;
    }

    #panelOne{
    margin-top:5px;
    display: none;
    position:fixed;
    width: 1280px;
    height:50px;
    background-color:none;
    }

    ul{
    float:left;
    position:fixed;
    display:inline;
    padding-bottom:9px;
    margin-left: 165px;
    margin-top:2px;
    width:1280px;
    height:20px;
    background:rgb(0,0,0,50);
    text-align:right;
    font-family: 'Lato', sans-serif;
    color:rgb(255,255,255);
    text-decoration:none;
    border:none;
    border-radius:25px;
    }

    li{
    float:left;
    margin-left:2px;
    margin-top:2px;
    padding:5px;
    text-align:right;
    }

    a{
    float:left;
    padding-top:0px;
    margin-left:2px;
    text-align:right;
    color:rgb(255,255,255);
    text-decoration:none;
    }

    #scrollDown{
        position:fixed;
        margin-left:510px;
        margin-top: 620px;
        display:block;
        text-align:center;
        font-size:1px;
        z-index:100;
        text-decoration:none;
        text-shadow:0;
        width:  12px;
        height:12px;
        border-bottom:2px solid rgb(255,255,255);
        border-right: 2px solid rgb(255,255,255);
        z-index: 9;

        rotate(45deg);
          -moz-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 4s ease-in-out infinite;
            -moz-animation:    fade_move_down 4s ease-in-out infinite;
            animation:         fade_move_down 4s ease-in-out infinite;
        }


        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
          0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @-moz-keyframes fade_move_down {
          0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }
        @keyframes fade_move_down {
          0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
          50%  { opacity: 1;  }
          100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
        }





}
